[submodule "speex_resampler_cpp"]
	path = speex_resampler_cpp
	url = https://github.com/camlorn/speex_resampler_cpp.git
[submodule "powercores"]
	path = powercores
	url = http://github.com/camlorn/powercores.git
